@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ._app-layout {
    @apply w-full px-4 md:px-8 lg:px-12;
  }

  ._container-layout {
    @apply w-full max-w-[1192px] mx-auto;
  }

  /* buttons variants */
  ._btn {
    @apply py-2.5 px-4 rounded-md font-medium;
  }

  ._primary-btn {
    @apply text-white bg-primary;
  }

  ._primary-outline-btn {
    @apply bg-white;
  }

  ._secondary-light-outline-btn {
    @apply border text-white border-white;
  }

  ._secondary-dark-outline-btn {
    @apply border text-gray-700 border-gray-300;
  }

  ._label {
    @apply block text-sm text-gray-600;
  }

  ._input {
    @apply p-2.5 block w-full text-[14px] border outline-none rounded-md border-gray-200 focus:border-gray-500;
  }
}

._line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hide scrollbar for Chrome, Safari and Opera */
._hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
._hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
