@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ._app-layout {
    @apply w-full px-4 md:px-8 lg:px-12;
  }

  ._container-layout {
    @apply w-full max-w-[1192px] mx-auto;
  }

  /* buttons variants */
  ._btn {
    @apply py-2.5 px-4 rounded-md font-medium;
  }

  ._primary-btn {
    @apply text-white bg-primary;
  }

  ._primary-outline-btn {
    @apply bg-white;
  }

  ._secondary-light-outline-btn {
    @apply border text-white border-white;
  }

  ._secondary-dark-outline-btn {
    @apply border text-gray-700 border-gray-300;
  }
}

._line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
